$background: #232136;
$foreground: #e0def4;
$black: #393552;
$white: #c8c5d9;
$red: #eb6f92;
$green: #76a264;
$yellow: #f6c177;
$blue: #3e8fb0;
$magenta: #c4a7e7;
$cyan: #9ccfd8;
$orange: #ea9a97;
$gray: #908caa;